/* Ensure 16px padding on each side */
.paste-container {
  display: grid;

  gap: 8px;
}

/* Make sure the board always has at least one column but expands as needed */

@media (min-width: 280px) and (max-width: 679px) {
  /* Medium screens: 2 columns */
  .paste-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (min-width: 680px) and (max-width: 899px) {
  /* Medium screens: 2 columns */
  .paste-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (min-width: 900px) and (max-width: 4000px) {
  /* Large screens: 3 columns */
  .paste-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
