.paste-container {
  display: grid;
  position: relative;
  gap: 8px;
  padding: 0 16px 16px 16px;
  border-radius: 16px;
}

.paste-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 12px;

  margin: 0 auto;
}

.glassmorphism {
  min-height: 60px;
}

/* ✅ Main content naturally flows after header */
main {
  flex: 1; /* Allows main to take remaining space */

  width: min(100%, 1200px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ensures content starts from the top */

  background-color: rgba(28, 31, 55, 0.2); /* 🔹 Same color but 50% alpha */
  border-radius: 16px;
}

/* Make sure the board always has at least one column but expands as needed */

@media (min-width: 280px) and (max-width: 679px) {
  /* Medium screens: 2 columns */
  .paste-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (min-width: 680px) and (max-width: 899px) {
  /* Medium screens: 2 columns */
  .paste-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (min-width: 900px) and (max-width: 4000px) {
  /* Large screens: 3 columns */
  .paste-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

/* 🔹 Container for SortButtons & ClearButton */
.buttons-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 10px;
}

.buttons-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 8px;

  padding: 16px;
}

.search-row {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}
